@model IEnumerable<e4userslist.Models.User>

@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-black-50 pl-3">List of Users</h2>
           
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Users" asp-action="Create" class="btn btn-primary">Create new User</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td width="20%">@user.FirstName</td>
            <td width="20%">@user.LastName</td>

            <td width="20%">@user.PhoneNumber</td>
            <td width="20%">@user.Email.</td>
            <td width="20%">
                <div class="w-100 btn-group" role="group">
                    <a asp-controller="Users" asp-action="Edit" asp-route-Id="@user.Id" class="btn btn-info w-75">Update</a>
                    @*<a asp-controller="Users" asp-action="Details" asp-route-Id="@user.Id" class="btn btn-primary mx-1">Details</a>*@
                    <a asp-controller="Users" asp-action="Delete" asp-route-Id="@user.Id" class="btn btn-danger mx-1">Delete</a>
                </div>
            </td>
        </tr>                }
    </tbody>
</table> }
            else
            {
<p>No items created yet</p>}

</div>